global
    user haproxy
    group haproxy
    daemon
    log /dev/log daemon
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:!DSS
    ssl-default-bind-options no-sslv3 no-tlsv10

defaults
    mode http
    option forwardfor
    option http-server-close
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout tunnel 1h

frontend public
    bind :80
    bind :::80

    redirect scheme https if !{ ssl_fc }

    bind :443 ssl crt /var/ssl/haproxy.crt
    bind :::443 ssl crt /var/ssl/haproxy.crt

    use_backend asterisk if { path_beg /ws }
    use_backend prosody if { path_beg /http-bind }
    default_backend lighttpd

backend asterisk
    server asterisk1 127.0.0.1:8089 ssl verify none

backend prosody
    server prosody1 127.0.0.1:5280

backend lighttpd
    server lighttpd1 127.0.0.1:8080
