[client]
port                    = 3306
socket                  = /var/run/mysql/mysqld.sock
default-character-set	= utf8

[mysqld]
user                    = mariadb
socket                  = /var/run/mysql/mysqld.sock
pid_file                = /var/run/mysql/mysqld.pid
basedir                 = /usr
datadir                 = /data/mysql/
tmpdir                  = /tmp/
skip-external-locking
skip-networking
event_scheduler         = on
character-set-server    = utf8
collation-server        = utf8_general_ci
default-storage-engine  = myisam
innodb                  = OFF

# Fine Tuning
key_buffer_size         = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[isamchk]
key_buffer              = 16M
