[client]
default-character-set	   = utf8
port                       = 3306
socket                     = /var/run/mysql/mysqld.sock

[mysqld]
basedir                    = /usr
character-set-server       = utf8
collation-server           = utf8_general_ci
datadir                    = /data/mysql/
default-storage-engine     = MyISAM
default-tmp-storage-engine = MyISAM
event_scheduler            = on
innodb                     = OFF
key_buffer_size            = 16M
max_allowed_packet         = 16M
pid_file                   = /var/run/mysql/mysqld.pid
skip-external-locking
skip-networking
socket                     = /var/run/mysql/mysqld.sock
thread_cache_size          = 8
thread_stack               = 192K
tmpdir                     = /tmp/
user                       = mariadb

[mysqldump]
max_allowed_packet         = 16M
quick
quote-names

[isamchk]
key_buffer                 = 16M
