[client]
port                    = 3306
socket                  = /var/run/mysql/mysqld.sock
default-character-set	= utf8

[mysqld]
user                    = mysql
socket                  = /var/run/mysql/mysqld.sock
pid_file                = /var/run/mysql/mysqld.pid
log_error               = /var/log/mysql/mysqld.log
port                    = 3306
basedir                 = /usr
datadir                 = /data/mysql/
tmpdir                  = /tmp/
skip-external-locking   = true
skip-networking
event_scheduler         = on
default-character-set	= utf8

# Fine Tuning
key_buffer              = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[isamchk]
key_buffer              = 16M
